<!doctype html>
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title Padrino UI
%body
  %header
    %h1
      %a{:href => "/"} Padrino UI
    %hr/
  .content= yield
  %footer
    %hr/
    No rights reserved!